# Database files
/storage/*.sqlite3
/storage/*.sqlite3-*

# Log files
/log/*
!/log/.keep

# Temporary files
/tmp/*
!/tmp/.keep

# Bundler & gem
/.bundle
/vendor/bundle

# Cache
/spec/examples.txt

# Rails system files
/public/assets

# Editors
.vscode/
.idea/
*.swp
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Ignore master key
/config/master.key

# Relatórios de cobertura (SimpleCov)
/coverage/

# Sessoes do mutant
/.mutant/
